@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.user {
    @include mixins.flex;
    justify-content: space-between;
    border: 1px solid $brand-secondary;
    border-radius: $border-radius;
    background-color: var(--card-background);

    padding: $space-s;

    transition: 0.2s;

    &__title {
        @include mixins.flex;
        gap: $space-s;
    }

    &:hover {
        @include mixins.shadow
    }
}