@import "styles/variables";

.allRepsPage {
  margin-left: $content-margin;
  margin-right: $content-margin;
}

.filtersSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.searchSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-l;
}
