@import "styles/variables";

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  fill: $brand;
  animation: rotate 2s linear infinite;
}

.buttonLoader {
  fill: #fff;
}

.loader-l {
  width: $loader-l;
  height: $loader-l;
}

.loader-m {
  width: $loader-m;
  height: $loader-m;
}

.loader-s {
  width: $loader-s;
  height: $loader-s;
}
