.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 36px;
  row-gap: 80px;
  column-gap: 80px;

  &__link {
    text-decoration: none;
  }
}
