@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.root {
  background-color: white;
  padding-bottom: 80px;
  min-height: 100vh;

  &__page {
    margin-left: $content-margin;
    margin-right: $content-margin;
  }

  &__info {
    display: flex;
    gap: 80px;
  }
}
