@import 'styles/variables';

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  background-color: $brand;
  color: #ffff;
  padding: $space-s $space-l;
  transition: 0.2s;
}

.button:hover {
  background-color: $brand-hover;
}

.button.ButtonLoading:hover {
  background-color: $brand;
}

.button:active {
  background-color: $brand-active;
}

.button:disabled {
  background-color: #d9d9d9;
}

.button:disabled:hover {
  background-color: #d9d9d9;
}

.button.ButtonLoadingDisabled:disabled {
  background-color: $brand;
}
