.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: inherit;
}

.titleText {
  font-size: 44px;
  line-height: 48px;
  text-align: center;
}

.buttonText {
  font-size: 18px;
}

.p-20 {
  font-size: 20px;
  line-height: 24px;
}

.p-18 {
  font-size: 18px;
  line-height: 22px;
}

.p-16 {
  font-size: 16px;
  line-height: 20px;
}

.p-14 {
  font-size: 14px;
  line-height: 18px;
}

.p-12 {
  font-size: 12px;
  line-height: 14px;
}

.TextAccent {
  color: #518581;
}

.TextSecondary {
  color: #afadb5;
}

.TextPrimary {
  color: black;
}
