@use "styles/mixins" as mixins;
@use "styles/funcs" as funcs;
@use "styles/variables" as *;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: funcs.rem(80);
  margin-bottom: 40px;

  &__card {
    &__caption {
      @include mixins.flex;
      gap: 15px;
    }

    &__stars {
      @include mixins.flex;
      gap: 4px;
    }
  }

  &__link {
    text-decoration: none;
  }
}

@media (max-width: funcs.rem(1340)) {
  .root {
    gap: funcs.rem(40);
  }
}
