@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.card {
    border: 1px solid $brand-secondary;
    border-radius: $border-radius;
    background-color: white;
    padding: $space-xs $space-s;
    width: 400px;

    height: 100%;

    transition: 0.2s;


    &__title {
        @include mixins.flex;
        gap: 12px
    }

    &:hover {
        @include mixins.shadow
    }
}

.text {
    margin: 0
}