@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.card {
  border: 1px solid $brand-secondary;
  border-radius: $border-radius;
  padding: $space-xs $space-s;
  background-color: var(--card-background);

  height: 100%;

  transition: 0.2s;

  &__title {
    @include mixins.flex;
    gap: 12px;
  }

  &:hover {
    @include mixins.shadow;
  }
}

.text {
  margin: 0;
  margin-bottom: 4px;
}

.lang {
  @include mixins.flex;
  gap: 6px;

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.private {
  border: 1px solid $brand-secondary;
  // background-color: #daedff;
  border-radius: 20px;
  padding: 4px 14px;

  &__name {
    margin: 0;
  }
}