@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.card {
    border: 1px solid $brand-secondary;
    border-radius: $border-radius;
    background-color: white;
    padding: $space-xs $space-s;

    height: 100%;


    &__title {
        @include mixins.flex;
        gap: 12px
    }
}

.text {
    margin: 0
}