@use "styles/Roboto/fonts";
@use "styles/variables" as *;
@use "styles/funcs" as funcs;

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  // background-color: $body-background;
}

* {
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.link {
  text-decoration: none;
  color: black;
}

.noMarginText {
  margin: 0;
}

.flex-container {
  margin-left: $content-margin;
  margin-right: $content-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}

.container {
  margin-left: $content-margin;
  margin-right: $content-margin;
  margin-top: 0;
  max-width: 1440px;
}

.form {
  background-color: white;
  border-radius: $border-radius;
  padding: $space-xl $content-margin;
  border: 1px solid $brand-secondary;
  margin-top: 5%;
}

@media (max-width: funcs.rem(1440)) {
  .flex-container,
  .container {
    margin-left: funcs.rem(50);
    margin-right: funcs.rem(50);
  }
}

@media (max-width: funcs.rem(460)) {
  .flex-container,
  .container {
    margin-left: funcs.rem(20);
    margin-right: funcs.rem(20);
  }
}