@use "styles/Roboto/fonts";
@use "styles/variables" as *;

html,
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: $body-background;
}

* {
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.link {
  text-decoration: none;
  color: black;
}

.noMarginText {
  margin: 0
}

.flex-container {
  margin-left: $content-margin;
  margin-right: $content-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
}

.container {
  margin-left: $content-margin;
  margin-right: $content-margin;
  max-width: 1440px;

}
