@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.root {
  &__repos {
    @include mixins.flex;
    gap: $space-s;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: end;
  }

  margin-bottom: $space-xl;
  width: 100%;
}
