@use "styles/Roboto/fonts";
@use "styles/variables" as *;
// @import "styles/variables";

.layout {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.background {
  &-normal-light {
    background-color: $body-background-light;
  }

  &-normal-dark {
    background-color: $body-background-dark;
  }

  &-accent {
    background-color: var(background-accent);
  }
}
