@use "styles/Roboto/fonts";
@use "styles/variables" as *;

.layout {
  background-color: $body-background;
  max-width: 1440px;
  margin: 0 auto;

  // &__content {
  //   width: 100%;
  //   max-width: 1200px;
  //   height: 100%;
  //   margin: 0 auto;
  // }
}
