@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.root {
    margin-bottom: 38px;

    &__title {
        margin: 0;
        line-height: 22px;
        margin-bottom: 8px
    }
}

.languages {
    @include mixins.flex;
    width: 300px;
    column-gap: 20px;
    row-gap: 4px;
    flex-wrap: wrap;
}

.languages-scale {
    @include mixins.flex;

    width: 300px;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
    gap: 2px;

    margin-bottom: 8px;
}

.languages__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.language {
    @include mixins.flex;

    gap: 5px
}