@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.root {
  @include mixins.flex;

  gap: 8px;
  cursor: pointer;

  &__image {
    border-radius: 50%;
  }

  &__name {
    .text {
      margin: 0;
    }
  }
}
