@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.card {
  width: 360px;
  background-color: white;
  transition: 0.2s;
  border-radius: $border-radius;
  height: 100%;

  &:hover {
    @include mixins.shadow;
  }

  &Image {
    display: block;
    width: 100%;
    height: 348px;
    background-color: #d9d9d9;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &Body {
    padding: $space-xl $space-xs;
  }

  &Footer {
    @include mixins.flex;

    margin-top: $space-l;
    justify-content: space-between;
  }

  &Text {
    margin: 8px 0;
  }

  &Title,
  .captionSlot {
    margin-top: 0;
  }
}
