@use 'styles/variables' as *;

.card {
  width: 360px;
  background-color: white;
  transition: 0.2s;
  border-radius: $border-radius;
  height: 100%;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.cardImage {
  display: block;
  width: 100%;
  height: 348px;
  background-color: #d9d9d9;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.cardBody {
  padding: $space-xl $space-xs;
}

.cardFooter {
  margin-top: $space-l;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardText {
  margin: 8px 0;
}

.cardTitle,
.captionSlot {
  margin-top: 0;
}
