@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.root {
  @include mixins.flex;

  justify-content: space-between;
  padding-left: $content-margin;
  padding-right: $content-margin;
  border-bottom: 2px solid $brand-secondary;

  &__logo {
    @include mixins.flex;

    justify-content: space-between;
    gap: $space-xl;
  }
}
