@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.navbar {
  @include mixins.flex;

  justify-content: space-between;
  padding-left: $content-margin;
  padding-right: $content-margin;
  border-bottom: 2px solid $brand-secondary;

  &__logo {
    @include mixins.flex;

    justify-content: space-between;
    gap: $space-xl;
  }

  &__menu {
    @include mixins.flex;
    gap: 40px;
  }
}

.panel__check {
  display: none;
}