@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.dropdown {
  position: relative;

  &__category {
    box-sizing: border-box;
    color: $text-secondary;
    border-radius: $border-radius;
    background-color: var(--input-bg);

    &-menu {
      @include mixins.shadow;

      position: absolute;
      background-color: var(--input-bg);
      width: 100%;
      top: calc(100% + 8px);

      &__item {
        @include mixins.flex;

        padding: 14px 12px;
        color: var(--text-primary);
        cursor: pointer;

        &_selected {
          color: $brand;

          &:hover {
            color: $text-secondary;
          }
        }
      }
    }

    &:focus {
      color: $dropdown-focus;
    }
    &:checked {
      color: $text-secondary;
    }

    &:disabled {
      color: $dropdown-focus;
      opacity: 0.8;
    }
  }
}
