@use "styles/mixins" as mixins;
@use "styles/variables" as *;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  row-gap: 80px;
  column-gap: 80px;
  margin-bottom: 40px;

  &__card {
    &__caption {
      @include mixins.flex;
      gap: 15px;
    }

    &__stars {
      @include mixins.flex;
      gap: 4px
    }
  }

  &__link {
    text-decoration: none;
  }
}

@media (max-width: 1440px) {
  .root {
    column-gap: 40px;
  }
}