@use "styles/variables" as *;

.checkBox {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid $brand-secondary;
}

.checkBoxInput {
  appearance: none;
}

.checkBox:hover {
  border: 1px solid $brand;
}

.checkBoxIcon {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
}

.checkBoxInput:checked + .checkBoxIcon {
  display: block;
}

.checkBoxDisabled {
  background-color: #ffffff80;
  border: 1px solid #ffffff00;
}

.checkBoxDisabled:hover {
  background-color: #ffffff80;
  border: 1px solid #ffffff00;
}

.checkBoxIconDisabled .iconPath {
  stroke: rgba(0, 0, 0, 0.2);
}
