@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.root {
  margin-left: $content-margin;
  margin-right: $content-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    margin-bottom: 60px;
  }
}
