@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 38px;

  &__section {
    display: flex;
    gap: 2px;
  }

  &__title {
    margin: 0;
    line-height: 22px;
  }

  &__count {
    display: inline-block;
    vertical-align: sub;
    text-align: center;
    background-color: $brand-secondary;
    border-radius: 50%;
    padding: 4px 5px;
    height: 16px;

    &-text {
      font-size: 10px;
      line-height: 10px;
      color: rgba(0, 0, 0, 0.62);
    }
  }
}
